.my-locations {
  grid-column: 2;
  grid-row: 2;
  /* z-index: 100; */
  width: 100%;
}

.my-locations h2 {
  padding-left: 1em;
  width: 8em;
}

.location-list {
  /* gap: 0.5em; */
  padding-top: 2em;
}

.my-locations div {
  width: 97%;
}

.location-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  border-bottom: 1px solid var(--clr1);
  /* border-radius: 20px; */
  height: 2em;
  line-height: 2em;
  padding-left: 0.5em;
  cursor: pointer;
}

.location-container:hover {
  background-color: var(--clr1);
  /* box-shadow: 0px 0px 5px 1px black; */
}

.location-container:first-child {
  border-top: 1px solid var(--clr1);
}

.location-container .delete-btn {
  color: var(--clr2);
  font-size: 1em;
  padding: 0.1111em;
}

.delete-btn:hover {
  background-color: red;
  box-sizing: content-box;
  color: white;
  box-shadow: 0px 0px 2px 1px black;
}

.search-form {
  display: flex;
}

.input-group {
  height: 50px;
}
